  <div class="browsing-menu">
    <h4>Browse by genre</h6>
    <ul class="browsing-menu-list">
      <li class="browsing-menu-list-item"><a HREF="{{ '/genres/staffage-in-landscape' | absolute_url }}">Staffage in landscape</a></li>
      <li class="browsing-menu-list-item"><a HREF="{{ '/genres/religious' | absolute_url }}">Religious</a></li>
      <li class="browsing-menu-list-item"><a HREF="{{ '/genres/allegory' | absolute_url }}">Allegory</a></li>
      <li class="browsing-menu-list-item"><a HREF="{{ '/genres/flower-still-life-and-nature-study' | absolute_url }}">Flower Still Life/Nature Study</a></li>
      <li class="browsing-menu-list-item"><a HREF="{{ '/genres/garland' | absolute_url }}">Garland</a></li>
      <li class="browsing-menu-list-item"><a HREF="{{ '/browse-genres' | absolute_url }}">More...</a></li>
    </ul>
  </div>
  <!--Or browse by-->
  <div class="browsing-menu">
    <h4>Or browse by</h6>
    <ul class="browsing-menu-list">
      <li class="browsing-menu-list-item"><a HREF="{{ '/browse-tags' | absolute_url }}">Tag</a></li>
      <li class="browsing-menu-list-item"><a HREF="{{ '/browse-locations' | absolute_url }}">Location</a></li>
      <li class="browsing-menu-list-item"><a HREF="#">Date</a></li>
      <li class="browsing-menu-list-item"><a HREF="#">Cat. No.</a></li>
  </div>