{% assign curatorial_files = include.fieldvalue | split: "|" %} 

  <!--add if statements to check if fields are empty, add rest of fields-->

  {% for item in curatorial_files %}
    {% assign file = site.curatorial_files | find: "pid", item %}  
      <div class="item-image-container">
        <a href="#">Image file to come<!--<img class="" src="/{{ file.thumbnail }}">--></a>
      </div>
      <div class="item-info">
        <p>{{ file.file_name }}<br />{{ file.file_type }}<br />{{ file.file_description }}></p>
      </div>
  {% endfor %}

