<!--HEADER-->
<div id="brueghel-header" class="container-fluid pt-1 pb-2 pl-auto">
  <nav class="navbar navbar-expand-md navbar-light p-0 d-inline-flex w-100 justify-content-between align-items-start">

    <!-- Logo -->
      <div class="d-inline-flex mr-0 mr-lg-auto">
        <a href="{{ '/pieterbruegel' | absolute_url }}" title="Home">
        <div class="d-none d-sm-block"><img src="{{ '/img/pieterbruegel_icon.png' | absolute_url }}" id="main-logo" alt="Pieter Bruegel Home"></div>
        </a>
        <a href="{{ '/pieterbruegel' | absolute_url }}" title="Home">
        <div class="pl-2">
          <h1 id="jan-title" class="text-nowrap m-0">Pieter Bruegel <br class="d-sm-none" />the Elder</h1>
          <h2 id="jan-subtitle" class="text-nowrap m-0">Complete Catalog</h2>
        </div>
      </a>
      </div>

    <!-- Menu Toggle Button -->
    <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div id="navmenu-container" class="container d-inline-flex p-0 pt-1 align-items-start">

      <!-- Column 1 -->
      <div class="collapse navbar-collapse menu-column" id="navbarCollapse">
        <ul class="navbar-nav flex-column ml-2 ml-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse by</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ '/pieterbruegel/browse-object-types' | absolute_url }}">Object Type</a>
              <a class="dropdown-item" href="{{ '/pieterbruegel/browse-genres' | absolute_url }}">Genre</a>
              <a class="dropdown-item" href="{{ '/pieterbruegel/browse-tags' | absolute_url }}">Tag</a>
              <a class="dropdown-item" href="{{ '/pieterbruegel/browse-locations' | absolute_url }}">Location</a>
              <a class="dropdown-item" href="{{ '/' | absolute_url }}">Date</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{{ '/about-pieterbruegel' | absolute_url }}">Pieter Bruegel</a>
              <a class="dropdown-item" href="{{ '/about-the-site' | absolute_url }}">The Site</a>
              <a class="dropdown-item" href="{{ '/credits' | absolute_url }}">Team</a>
            </div>
          </li>

          <li class="nav-item">
            <a href="{{ '/search' | absolute_url }}" class="nav-link">Search</a>
          </li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="collapse navbar-collapse menu-column" id="navbarCollapseBottom">
        <ul class="navbar-nav flex-column ml-2 ml-md-0">
          
          <li class="nav-item">
            <a href="{{ '/pages/bibliography' | absolute_url }}" class="nav-link">Bibliography</a>
          </li>

          <li class="nav-item">
            <a href="{{ '/biographies' | absolute_url }}" class="nav-link">Biographies</a>
          </li>

          <!--<li class="nav-item">
            <a href="{{ '/' | absolute_url }}" class="nav-link">Scale Gallery</a>
          </li>-->

          <li class="nav-item pieter-menu-link d-md-none">
            <a href="{{ '/'' | absolute_url }}" class="nav-link">Jan Brueghel Catalog</a>
          </li>

        </ul>
      </div>

    </div>

    <!--Pieter Link-->

      <div id="pieter-link" class="d-none d-md-flex align-items-center">
        <a href="{{ '/' | absolute_url }}">
        <div><img src="{{ '/img/janbrueghel_icon.png' | absolute_url }}" id="link-logo" alt="Jan Brueghel the Elder Catalog"></div>
        </a>
        <a href="{{ '/' | absolute_url }}">
        <div><h2 id="pieter-link-text" class="p-2 m-0">Jan<br />Brueghel<br />Catalog</h2>
        </div>
        </a>
      </div>
  </nav>
</div>