<table class="metadata-block">
  <tbody>

  {% comment %}
    Populate variables for the concatenated fields
  {% endcomment %}

  {% if page.width_cm %}
    {% if page.height_cm %}
      {%- capture dimensions -%} 
        {{ page.width_cm }} cm x {{ page.height_cm }} cm
      {%- endcapture -%} 
    {% endif %}
  {% endif %}

  {% if page.location_city or page.location_country %}
    {% assign location_url = "/locations/" | append: page.location_country | slugify }} %}
      {%- capture location_info -%}   
          {% if page.location_city %}{{ page.location_city }}, {% endif %}
          {% if page.location_country %}<a href="{{ location_url | absolute_url }}/">{{ page.location_country }}</a>{% endif %}
      {%- endcapture -%}
  {% endif %}

  {% if page.location_collection or page.location_or_most_recent_sale_notes %}
    {%- capture collection_info -%}
      {% if page.location_collection %}{{ page.location_collection }}, {% endif %}
        {% if page.location_or_most_recent_sale_notes %}{{ page.location_or_most_recent_sale_notes }}{% endif %}
    {%- endcapture -%}
  {% endif %}

  {% comment %}
    Loop through the metadata object
  {% endcomment %}

  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
      Populate the tabbed metadata array
    {% endcomment %}

    {% comment %}
      Set non-displaying fields to nil
    {% endcomment %}

    {% case key %}
      {% when "width_cm", "height_cm", "bibliography", "exhibition_history", "copies_and_variants", "provenance", "related_works", "curatorial_files" %}
        {% assign value = nil %}
      {% when "dimensions" %}
        {% assign value = dimensions %}
      {% when "location_info" %}
        {% if location_info | strip != "" %}
          {% assign value = location_info | strip %}
        {% endif %}
      {% when "collection_info" %}
        {% if collection_info | strip != "" %}
          {% assign value = collection_info | strip %}
        {% endif %}
    {% endcase %}

    {% comment %}
      Only display non-empty values
    {% endcomment %}

    {% if value | strip != '' %}

      {% if item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      {% endif %}

      {% if key == 'worktags' %}
        {% assign parsed_worktags = value | split: "|" }
        {% assign worktaglist_html = "" %}
          {% for worktag in parsed_worktags %}
            {% assign worktag_url = "/worktags/" | append: page.worktag | slugify %}
              {%- capture worktag_html -%}
                <a href="{{ worktag_url | absolute_url }}/">{{ worktag | replace: "_", " " }}</a>
                {% unless forloop.last %}, {% endunless %}
              {%- endcapture -%}
            {% assign worktaglist_html = worktaglist_html | append: worktag_html %}
          {% endfor %}
        {% assign value = worktaglist_html %}
      {% endif %}

      {% if key == 'genre' %}
        {% assign genre_url = "/genres/" | append: page.genre | slugify %}
          {%- capture genre -%}
            <a href="{{ genre_url | absolute_url }}/">{{ page.genre }}</a>
          {%- endcapture -%}
        {% assign value = genre %}
      {% endif %}

      {% if key == 'object_type' %}
        {% assign object_url = "/object-types/" | append: page.object_type | slugify %}
        {%- capture object_type -%}
          <a href="{{ object_url | absolute_url }}/">{{ page.object_type }}</a>
        {%- endcapture -%}
        {% assign value = object_type %}
      {% endif %}

      {% if key == 'diameter_cm' %}
        {% assign value = value | append: " cm" %}
      {% endif %}

      {% if key == 'collaborators' or key == 'collectors_patrons' %}
        {% assign personArray = value | split: "|" %}
        {% assign bioString = "" %}
          {% for person in personArray %}
            {% assign stripped = person | strip %}
            {% assign bio = site.biographies | find: "label", stripped %}
            {% assign bio_url = "/biographies/" | append: bio.pid %}
            {%- capture biolink -%}
              <a href="{{ bio_url | absolute_url }}">{{ bio.label }}</a>
              {% unless forloop.last %}, {% endunless %}
            {%- endcapture -%}
            {% assign bioString = bioString | append: biolink %}
          {% endfor %}
          {% assign value = bioString %}
      {% endif %}
      <tr>
        <td class="label">{{ item.label }}</td>
        <td class="value">{{ value | strip }}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>