<div id="object-types" class="row justify-content-between">
  <a class="col" href="{{ '/object-types/painting' | absolute_url }}">
    <div class="object-type-container">
      <div class="object-type-text">Paintings</div>
      <div class="object-type-image"><img src="{{ '/img/janbrueghel_paintings.jpg' | absolute_url }}"/></div>
      <div class="object-type-overlay"></div>
    </div>
  </a>
    <a class="col" href="{{ '/object-types/drawing' | absolute_url }}">
      <div class="object-type-container">
        <div class="object-type-text">Drawings</div>
        <div class="object-type-image"><img src="{{ '/img/janbrueghel_drawings.jpg' | absolute_url }}"/></div>
        <div class="object-type-overlay"></div>
      </div>
    </a>
    <a class="col" href="{{ '/object-types/print' | absolute_url }}">
      <div class="object-type-container">
        <div class="object-type-text">Prints</div>
        <div class="object-type-image"><img src="{{ '/img/janbrueghel_prints.jpg' | absolute_url }}"/></div>
        <div class="object-type-overlay"></div>
      </div>
    </a>
    <a class="col" href="{{ '/object-types/oil-sketch' | absolute_url }}">
      <div class="object-type-container">
        <div class="object-type-text">Oil Sketches</div>
        <div class="object-type-image"><img src="{{ '/img/janbrueghel_oil_sketches.jpg' | absolute_url }}"/></div>
        <div class="object-type-overlay"></div>
      </div>
    </a>
</div>