@import 'bootstrap';

/*

main body & containers

*/

html, body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $bg-color;
  font-family: $body-font;
  font-weight: 300;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  min-height: 100vh;
}

a {
  color: $link-color;
  font-weight: 400;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  color: #fff;
}

p {
  max-width: 100%;
  margin-bottom: $less-margin;
  letter-spacing: .02rem;
  font-weight: 300;
  font-size: .8rem;
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
}

/*

header & nav bar

*/

#brueghel-header {
  background-color: $head-bg-color;
  border-bottom: 1px solid $head-bg-color;
  padding: $margin;
  letter-spacing: 0.075rem;

  .navbar {
    max-width: $max-width;
  }
      
  #jan-title {
    color: $title-color;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
    font-variant: small-caps;
  }
      
  #jan-subtitle {
    color: $title-color;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
    font-style: italic;
  }

  #main-logo {
    width: 70px;
  }
      
  #link-logo {
    width: 50px;
  }
  
  #pieter-link-text {
    color: $title-color;
    font-size: .75em;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
    font-variant: small-caps;
  }

  .navbar-brand {
    color: $head-bg-color;
    font-size: 2rem;
    white-space: normal;
  }

  .navbar-brand:hover {
    color: $head-bg-color;
  }

  .navbar-toggler {
    background-color: $head-bg-color;
  }

  #navmenu-container {
    max-width: 300px;
    .menu-column {
      max-width: 200px;
    }
  }

  .navbar-nav {
    .nav-link, .dropdown-item {
      color: $menu-link-color;
      font-size: 0.7rem;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      line-height: 0.6;
      padding: 0.4rem;
    }
    .nav-link:hover, .nav-link:active {
      color: $menu-link-color;
    }
    .dropdown-menu {
      background-color: $head-bg-color;
      border-color: $bg-color;
    }
  }
}

/* 

Landing Page Stuff 

*/

.object-type-container {
  position: relative;
  width: 150px;
  height: 112px;
  overflow: hidden;
  .object-type-image, .object-type-overlay, .object-type-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .object-type-overlay {
    z-index: 1;
    opacity: 0.7;
    transition: .5s ease;
    background-color: $title-color;
  }
  .object-type-text {
    z-index: 5;
    color: $link-color;
    text-align: center;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 300;
    line-height: 112px;
    transition: .5s ease;
  }
  .object-type-image img {
    width: 150;
    height: 112px;
  }
}
.object-type-container:hover .object-type-overlay {
  opacity: 0.2;
}
.object-type-container:hover .object-type-text {
  color: #fff;
}

#janbrueghel-banner {
  background-image: url("https://stephmoore.github.io/bruegheldev/img/janbrueghel_banner.jpg");
}
#pieterbruegel-banner {
  background-image: url("https://stephmoore.github.io/bruegheldev/img/pieterbruegel_banner.jpg");
}

.banner {
  width: 100vw;
  height: 40vw;
  max-height: 400px;
  min-width: 768px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.browsing-menu {
  h4 {
    font-size: 1rem;
    margin-top: 0;
  }
  .browsing-menu-list {
    .browsing-menu-list-item {
      font-size: 0.8rem;
    }
  }
}

#object-types {
  margin-top: $margin;
  .col {
    margin-bottom: $margin;
  }
}

/*

content section

*/

#brueghel-main {
  background-color: $bg-color;
  max-width: $max-width;
  h1, h2, h3, h4, h5 {
    margin-bottom: $less-margin;
    font-family: $heading-font;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.077rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
  }
  .footnotes ol {
    padding-left: 0;
  }
  li {
    font-family: $body-font;
    font-size: 1rem;
    line-height: 2rem;
    max-width: 100%;
  }
  .biography-fields {
    font-size: 1rem;
    font-weight: 600;
  }
  .item-view .biography-text {
    padding-top: $less-margin;
  }
}

/* 

Footer 

*/

#brueghel-footer {
  width: 100vw;
  padding-bottom: 5rem;
  padding-top: 3rem;
  color: $bg-color;
  background-color: $footer-color;
  col {
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    justify-items: space-between;
    min-width: 250px;
  }
  .footer-title {
    font-family: $heading-font;
    padding-bottom: 1em;
    margin: 0;
  }
  .footer-description {
    font-family: $heading-font;
    margin: 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .footer-copyright {
    margin: $margin 0 $margin 0;
    font-size: .9em;
    padding-bottom: 1em;
    line-height: 1.2;
  }
  .footer-links {
    font-family: $heading-font;
    margin: 0;
    padding-bottom: 1em;
    font-size: .9em;
    line-height: 1.2;
    a {
      color: $accent-color;
    }
  }
}

/*

item pages (iiif + metadata)

*/
.item-view {
  width:           100%;
  display:         inline-flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  align-items:     center;

  .image-viewer {
    position: relative;
    text-align: left;
    /* Height:   $viewer-height; */
    background-color: $bg-color;
    width:    100%;
    margin:   0 0 $more-margin 0;

    img {
      max-width: 100%;
      max-height: 70vh;
    }
    a {
      color: inherit !important;
    }
    li {
      font-size: 1em !important;
    }
  }
  


  #prevlink {
    float:left;
  }
  .nextlink {
    float: right;
  }
}

.metadata-block {
  font-family: $body-font;
  font-size: .8rem;
  max-width: 100%;
  padding: $less-margin;
  td {
    vertical-align: top;
    padding-bottom: 10px;
  }
  .label {
    font-weight: 600;
    padding-right: 10px;
  }
  .value a {
    font-weight: 400;
  }
}

.metadata-card {
  @extend .card;
  background-color: $bg-color;
  border: none;
  .metadata-card-header {
    @extend .card-header;
    background-color: $bg-color;
    border-bottom: 0;
    .btn-link, .btn-linkhover, .btn-linkactive, .btn-link:visited {
      color: $text-color;
      text-decoration: none;
      font-size: .8rem;
      font-weight: 500;
    }
  }
}
  .metadata-card-body {
    @extend .card-body;
    background-color: $bg-color;
    border-bottom: 0;
    font-family: $body-font;
    font-size: .8rem;
  }

/* .tabbed-metadata-heading, .tabbed-metadata-heading:hover, .tabbed-metadata-heading:active {
  color: $text-color;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 500;
} */

table.provenance {
  width: 100%;
  tr td {
    padding-right: 20px;
    border-bottom: 0.5px solid $text-color;
  }
}

/*

search box

*/


.search-block{
  margin: $more-margin 0 $more-margin 0;
  #search{
    border-style: groove;
    border-width: 2px;
    margin-bottom: $more-margin;
    &:focus {
        box-shadow: none ;
        border-color: $bg-color;
    }
  }
  #results {
    margin: 0;
    .result {
      padding: 1em;
      a {
        color: $text-color;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        img {
          float: left;
          width: 50px;
        }
        p {
          margin: 0 !important;
          padding: 0;
          .title{
            color: $link-color;
          }
        }
      }
      &:hover {
        background-color: $bg-color;
      }
    }
  }
}

.facet-buttons {
  .facet {
    @extend .btn-outline-secondary;
    color: $text-color;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    margin: 0;
    padding: 3px;
    font-size: .8rem;
    font-family: 'Poppins', 'sans-serif';
    text-align: left;
    .active {
      @extend .facet;
      border-color: $text-color;
      background-color: transparent;
    }
  }
}

.gallery-item {
  padding: 0;
  margin: 0 0 1rem 0;
  height: 100%;
  min-width: 300px;
  font-size: .8rem;
}

.item-image-container {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  img {
    object-position: 50% 20%;
    object-fit: cover;
    height: 100px;
  }
}

.item-info {
  font-size: .8rem;
  padding-left: .7rem;
  line-height: unset;
}

.related-works-item {
  padding: 0;
  margin: 0 0 1rem 0;
  height: 100%;
  max-width: 280px;
}

.related-works-item-image-container {
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
  img {
    object-position: 50% 20%;
    object-fit: cover;
    height: 80px;
  }
}

.related-works-item-info {
  font-size: .8rem;
  padding-left: .7rem;
  line-height: unset;
}

.page-title {
  font-size: 1.2rem !important;
  margin-top: $margin;
}

/* 
.sq-thumb-sm{
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px;
}
*/