---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Roboto', 'sans-serif';
$menu-font:		    'Roboto', 'sans-serif';
$title-font:      'EB Garamond', 'serif';
$heading-font:    'Roboto', 'sans-serif';


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #ffffff;
$bg-color:	  	  #60667c;
$head-bg-color:   #bbbac0;
$title-color:	    #9f484e;
$link-color:	    #ffffff;
$menu-link-color: #60667c;

/* viewport sizes */

$max-width:       800px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=family=Roboto:ital@0;1&font-display=auto');
@import url('https://fonts.googleapis.com/css?family=family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&&font-display=auto');
@import 'wax';
