---
layout: page
---
{% assign collection = site[layout.collection] | sort: "label" %}

<div id="result_count"></div>
<div class="container-fluid d-flex flex-column flex-md-row align-items-start">
  <div id="wax-gallery-object-type" class="col-12 d-flex flex-wrap">
    {% assign counter = 0 %}
    {% for item in collection %}
      {% if layout.cat == 'worktags' %}
        {% if item[layout.cat] contains page.label %}
          {% include gallery_item.html value=page.label item=item %}
          {% assign counter = counter | plus: 1 %}
        {% endif %}
      {% else %}
        {% if item[layout.cat] == page.label %}
          {% include gallery_item.html value=page.label item=item %}
          {% assign counter = counter | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
 $( document ).ready(function() {
    $('#result_count').append("Displaying {{ counter }} result{% unless counter == 1 %}s{% endunless %}");
 });
</script>