---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

<h3 alt="{{ page.label }}" class="page-title">{{ page.label }}</h3>

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

<div class="item-view d-flex flex-row flex-wrap align-items-start"> 
  
  <div class="order-1 order-lg-2 col-12 col-lg-8">
    {% include simple_image_viewer.html full_image=page.fullwidth %}
  </div>

  {% comment %}
    The block below controls the item metadata table
  {% endcomment %}

  {% if layout.meta.size %}
    {% assign metadata = layout.meta %}
  {% elsif page.meta.size %}
    {% assign metadata = page.meta %}
  {% endif %}
  {% if metadata.size %}
    <div class="order-2 order-lg-1 col-12 col-sm-6 col-lg-4">
      {% include item_metadata.html meta=metadata %}
    </div>
    <div class="order-3 col-12 col-sm-6 col-lg-8 ml-lg-auto">
      {% include tabbed_metadata.html meta=metadata %}
    </div>
  {% endif %}

</div>