---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

<div class="item-view d-flex flex-row flex-wrap align-items-start"> 
  
  <div class="order-1 order-md-2 col-12 col-md">
    {% include simple_image_viewer.html full_image=page.fullwidth %}
  </div>

  {% comment %}
    The block below controls the item metadata table
  {% endcomment %}

  {% if layout.meta.size %}
    {% assign metadata = layout.meta %}
  {% elsif page.meta.size %}
    {% assign metadata = page.meta %}
  {% endif %}
  {% if metadata.size %}
    <div class="order-2 order-md-1 col-12 col-md">
      <h3 alt="{{ page.label }}" class="item-title">{{ page.label }}</h3>
      {% include item_metadata.html meta=metadata %}
    </div>
    <div class="order-3 col-12">
      {% include tabbed_metadata.html meta=metadata %}
    </div>
  {% endif %}

  <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">{{ page.label }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body image-modal">
          <a href="{{ page.fullwidth | absolute_url }}" target="_blank"><img src="{{ page.fullwidth | absolute_url }}" alt="{{ page.label }}"/></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>